.column {
  border: solid 2px red;
  height: 10rem;
  flex-grow: 1;
  margin: 1.5rem;
}
.card {
  border: solid 2px black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.75rem;
}
.card-header {
  border: solid 2px blue;
  border-radius: 0.75rem;
  padding: 0;
  margin-top: -1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}
.primary-gradient {
  border-radius: 0.5rem;
  background-image: var(--red);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-body {
  padding: 1.5rem;
}
.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5rem;
}
.update {
    display: flex;
    align-items: center;
    border: solid 2px darkblue;
}
.clock {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
  /* border: solid 2px darkblue; */

}
p {
  /* border: solid 2px darkblue; */
}
