#nav-bar {
  height: 45rem;
  /* border: solid 2px grey; */
  border-radius: 0.75rem;
  /* background-image: linear-gradient(195deg, #42424a 0%, #191919 100%); */
  background-image: var(--black);
  display: block;
  /* position: fixed; */
  top: 0.5rem;
  /* left: 1rem; */
  margin: 0.25rem;
  /* position: fixed; */
  /* top: 0;
  bottom: 0; */
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.link {
  width: 100%;
}
