.button {
  text-transform: capitalize;
  width: 12.5rem;
  padding: 0.5em;
  border: none;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: large;
  text-transform: capitalize;
}
.red {
  background-image: var(--red);
}
.blue {
  background-image: var(--blue);
}
