.button {
    width: 12.5rem;
    /* height: 3rem; */
    /* position: inherit; */
    padding: 0.5em;
    border: none;
    border-radius: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: red; */
    background-image: var(--red);
    color: white;
    font-size: large;
}