.header {
  text-transform: capitalize;
  /* border-radius: 0.75rem 0.75rem 0 0; */
  width: 15rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  position: absolute;
  top: 6.25rem;
}
.gradient {
  border-radius: 25px;
  background-image: var(--red);
  padding: 1rem 0.25rem 1rem 0.25rem;
}
@media screen and (min-width: 376px) {
  .header {
    top: 7.25rem;
  }
}
@media screen and (min-width: 391px) {
  .header {
    top: 8.8rem;
  }
}
@media screen and (min-width: 415px) {
  .header {
    top: 8.8rem;
  }
}