.column {
  /* border: solid 2px red; */
  height: 10rem;
  flex-grow: 1;
  margin: 0.75rem;
}
.card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.75rem;
}
.card-header {
  border-radius: 0.75rem;
  padding: 0;
  margin-top: -1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}
.red-gradient {
  background-image: var(--red);
}
.blue-gradient {
  background-image: var(--blue);
}
.green-gradient {
  background-image: var(--green);
}
.gradient {
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-body {
  padding: 1.5rem;
}
.card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.updates {
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin-top: 0.5rem;

}
.clock {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;

}
.update {
  /* border: solid 2px darkblue; */
  margin: 0;
}
.chart {
  /* border: solid 2px black; */
}