#nav-bar {
  height: 46rem;
  border-radius: 0.75rem;
  background-image: var(--black);
  display: block;
  top: 0.5rem;
  margin: 0.25rem;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.link {
  width: 100%;
}
