.nav-bar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid 2px grey;

}
.heading {
    padding: 1rem;
    font-weight: bold;
}