#nav-bar {
  height: 46rem;
  width: 20rem;
  border-radius: 0.75rem;
  background-image: var(--black);
  display: block;
  top: 0.5rem;
  margin: 0.25rem;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (min-width: 415px) {
  #nav-bar {
    height: 100%;
    width: initial;
    border-radius: 0.75rem;
    background-image: var(--black);
    display: block;
    top: 0.5rem;
    margin: 0.25rem;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}