#nav-bar {
  height: 46rem;
  border-radius: 0.75rem;
  background-image: var(--black);
  display: block;
  top: 0.5rem;
  margin: 0.25rem;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* position: relative; */
  animation-name: moveRight;
  animation-duration: 2s;
}
@keyframes moveRight {
  0% {
    right: 500px; }
  100% {
    right: 0px; } }