#nav-bar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}
.list {
  padding: 0.5rem;
}
.link {
  list-style-type: none;
  width: 15rem;
  height: 3.5rem;
  /* border: solid 2px gray; */
  border-radius: 0.75rem;
  padding: 1rem;
  /* padding-left: 2rem; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color: white;
  font-size: small;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg)
  brightness(105%) contrast(100%);
}