.button {
    width: 12.5rem;
    border: none;
    border-radius: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
    text-transform: capitalize;
    background-image: var(--blue);
    float: right;
    margin-right: 2rem;
}
.button:hover{
    background-image: var(--medium-blue);
}
.row {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.col {
  padding-left: 1rem;
  padding-right: 1rem;
}
.card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white);
  border-radius: 0.75rem;
  position: relative;
}
.card-header {
  width: 100%;
  border-radius: 0.75rem;
  padding: 0;
  margin-top: -1.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
}
.gradient {
  background-image: var(--red);
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-grow: 0.95;
}
.header-text {
  text-transform: capitalize;
  color: var(--white);
  padding-left: 1rem;
  font-size: 1.25rem;
  /* margin-top: 0;
    margin-bottom: 0; */
}
.card-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  width: 100%;

}
.table-responsive {
  width: 100%;

  padding: 0;
}
.table {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.table-heading {
    text-transform: capitalize;
    /* border: solid 2px black; */
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table-heading-row {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 1fr;
    /* grid-gap: 3rem; */
}
.table-body-row {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 1fr;
    /* grid-gap: 3rem; */
    border-top: solid 2px #f0f2f5;
    text-align: center;
    align-items: center;
    height: 3.5rem;
}
.actions {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dots {
    /* margin-bottom: 0; */
    width: 2rem;
    height: 2rem;
}
