.col {
  border: solid 2px black;
  border-radius: 0.75rem;
  height: 100%;
}
.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  height: 100%;
}
.user-card {
  scrollbar-color: red transparent;
}
.person-card {
  scrollbar-color: #20c720 transparent;
}
.card-header {
  border-radius: 0.75rem;
  padding: 0;
  z-index: 2;
  margin-top: -1.55rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}
.gradient {
  border-radius: 0.5rem;
  background-image: var(--blue);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.red-gradient {
  background-image: var(--red);
}
.blue-gradient {
  background-image: var(--blue);
}
.green-gradient {
  background-image: var(--green);
}
.title {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  padding-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.card-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: hidden; */
  border-top: solid 2px black;
  /* padding: 1rem; */
}
.table-responsive {
  height: 14rem;
  padding: 0;
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table-body {
  width: 100%;
  /* height: 10rem; */
  border: solid 2px rebeccapurple;
}