.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rem;
  /* margin-top: 1rem; */
}
.users {
  width: 20rem;
  height: 5rem;
}
.personnel {
  /* border: solid 2px blue; */
  width: 20rem;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding-bottom: 0.7rem;
}
.roles {
  width: 20rem;
  height: 5rem;
}
.assign {
  text-transform: capitalize;
  width: 100%;
  background-image: var(--blue);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
.assign:hover {
  background-image: var(--medium-blue);
}
@media screen and (min-width: 415px) {
  .main {
    /* height: 100%; */
    display: grid;
    grid-template-areas:
      "users personnel"
      "roles personnel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: initial;
    grid-gap: 2rem;
    align-items: initial;
    /* margin-top: 1rem; */
  }
  .users {
    grid-area: users;
    width: initial;
    height: initial;
    /* border: solid 2px red; */
  }
  .personnel {
    grid-area: personnel;
    /* border: solid 2px blue; */
    width: initial;
    display: grid;
    grid-template-rows: auto min-content;
    grid-gap: 1rem;
    padding-bottom: 0.7rem;
  }
  .roles {
    grid-area: roles;
    width: initial;
    height: initial;
    /* border: solid 2px green; */
  }
  .assign {
    text-transform: capitalize;
    width: 100%;
    background-image: var(--blue);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
  }
}
