.user {
    /* width: 100%; */
    text-transform: capitalize;
    padding: 0.5rem 0;
    /* border-bottom: solid 1px black; */
    cursor: pointer;
}
.user-row{
    width: 100%;
    border-bottom: solid 2px black;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1rem;
}
/* .user-col row {
    overflow: hidden;
} */
.selected-user {
    background-image: var(--blue);
    color: #fff;
}