.user-row {
  text-transform: capitalize;
  width: 100%;
  border-top: solid 2px black;
  /* display: flex; */
  /* align-items: center; */
  height: 2.5rem;
  padding-left: 1rem;
  cursor: pointer;
  
}
.person-row {
  display: grid;
  /* height: 5rem; */
  width: 100%;
  /* padding-left: 1rem; */
  text-transform: capitalize;
  font-size: small;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: solid 2px black;
}
.person-col, .email-col {
  /* border: solid 1px black; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.email-col {
  text-transform: lowercase;

}
/* .user-row:first-child {
    border-top: solid 2px black;
} */
.toggle-user {
  background-image: var(--red);
  color: var(--white);
}
.toggle-role {
  background-image: var(--blue);
  color: var(--white);
}
