.user-row{
    text-transform: capitalize;
    width: 100%;
    border-bottom: solid 2px black;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1rem;
    cursor: pointer;
}
/* .user-row:first-child {
    border-top: solid 2px black;
} */
.toggle-user {
    background-image: var(--red);
    color: #fff;
}
.toggle-role {
    background-image: var(--blue);
    color: #fff;
}