body.active-modal {
  overflow-y: hidden;
}
.modal {
  z-index: 1;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-header {
  text-transform: capitalize;
}
.modal-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 27.5rem;
  left: 11.75rem;
  transform: translate(-50%, -50%);
  line-height: 2.5;
  background: var(--white);
  padding: 5rem;
  border-radius: 3px;
  /* max-width: 600px; */
  width: 20rem;
  border: solid 2px black;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.create-ticket {
  border: none;
  text-transform: capitalize;
  color: white;
  background-image: var(--blue);
  margin-top: 1rem;
}
.create-ticket:hover {
  background-image: var(--medium-blue);
}
.ticket-form {
  /* border: solid 2px black; */
  width: 15rem;
  /* height: 20rem; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  text-transform: capitalize;
  height: 20rem;
  gap: 2rem;
}
.form-element {
  display: flex;
  flex-direction: column;
  height: 3.5rem;
  justify-content: space-between;
  gap: 1rem;
  /* border: solid 2px crimson; */
  width: 100%;
}
.developers,
.priorities {
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  font-size: medium;
}
.form-label {
  font-weight: bold;
}
@media screen and (min-width: 415px) {
  body.active-modal {
    overflow-y: hidden;
  }
  .modal {
    z-index: 1;
  }
  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  .modal-header {
    text-transform: capitalize;
  }
  .modal-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 24rem;
    left: 50rem;
    transform: translate(-50%, -50%);
    line-height: 2.5;
    background: var(--white);
    /* padding: 5rem; */
    border-radius: 3px;
    /* max-width: 600px; */
    width: initial;
    border: solid 2px black;
    border-radius: 0.75rem;
    display: initial;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
  .create-ticket {
    border: none;
    text-transform: capitalize;
    color: white;
    background-image: var(--blue);
  }
  .create-ticket:hover {
    background-image: var(--medium-blue);
  }
  .ticket-form {
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    text-transform: capitalize;
    height: 20rem;
    gap: 1rem;
    width: initial;
  }
  .form-element {
    display: flex;
    flex-direction: row;
    /* height: 3.5rem; */
    justify-content: space-between;
    /* gap: 1rem; */
    /* border: solid 2px crimson; */
    width: 100%;
  }
  .developers,
  .priorities {
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    font-size: medium;
  }
  .form-label {
    font-weight: bold;
  }
}
