.table {
    border: solid 2px black;
    flex-grow: 1;
    margin: 1rem;
    height: 36rem;
}
.col {
    height: 100%;
}
.card {
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* margin-top: 1rem; */
    border: solid 2px black;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-header {
    padding: 0;
}