.table {
  flex-grow: 1;
  margin: 1rem;
  height: 36rem;
}
.col {
  height: 100%;
}
.card {
  /* border: solid 2px pink; */
  height: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* margin-top: 1rem; */
  border: solid 2px black;
  border-radius: 0.75rem;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 1.5rem; */
  /* margin-bottom: 1.5rem; */
}
.card-header {
  border-radius: 0.75rem;
  height: 4rem;
  width: 20rem;
  padding: 0;
  margin-top: -2rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}
.red-gradient {
  background-image: var(--red);
}
.blue-gradient {
  background-image: var(--blue);
}
.green-gradient {
  background-image: var(--green);
}
.ticket-table {
    margin: 0.5rem;
    /* border-bottom: solid 2px black; */
    width: 100%;
}
.table-header {
    border-bottom: solid 2px black;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    text-transform: capitalize;
}
.table-header:first-child{
    padding-left: 2rem;
}
.table-header:last-child {
    padding-right: 2rem;
}
.table-list {
    width: 100%;
}