.ticket {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-transform: capitalize;
    padding: 0.5rem 0;
    border-bottom: solid 1px black;
    cursor: pointer;
}
.ticket-col{
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
}
.ticket-col div {
    overflow: hidden;
}