.table {
  /* flex-grow: 1; */
  margin: 0.5rem;
  width: 20rem;
  /* height: 1rem; */
  /* gap: 1rem; */
  /* position: relative; */
}
.col {
  /* height: 1rem; */
  position: relative;
}
.card {
  /* border: solid 2px red; */
  border: solid 2px red;
  height: 37em;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* margin-top: 1rem; */
  border: solid 2px black;
  border-radius: 0.75rem;
  background-color: #fff;
  /* position: relative; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 1.5rem; */
  /* margin-bottom: 1.5rem; */
  position: relative;
}
.card-header {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  height: 2.5rem;
  width: 15rem;
  /* padding: 0; */
  /* margin-top: -2rem; */
  top: -1.3rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.red-gradient {
  background-image: var(--red);
}
.blue-gradient {
  background-image: var(--blue);
}
.green-gradient {
  background-image: var(--green);
}
.ticket-table {
    margin: 0.5rem;
    /* border: solid 2px red; */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.table-header {
    border-bottom: solid 2px black;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: grid;
    /* gap: 3rem; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    text-transform: capitalize;
    grid-template-columns: 1fr 3fr 1fr;
}
.table-list {
    width: 100%;
    display: block;
    overflow: scroll;
    height: 33rem;
}