.create {
  /* border: solid 2px red; */
  height: 5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.projects {
  text-align: center;
  width: 10rem;
  height: 2.5rem;
  font-size: x-large;
  position: absolute;
  top: 0;
}
option {
  text-transform: capitalize;
}
.button {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 12.5rem;
  padding: 0.5em;
  border: none;
  border-radius: 0.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: large;
  text-transform: capitalize;
  background-image: var(--blue);
}
.tickets {
  height: 38rem;
  display: flex;
  /* border: solid 2px red; */
}