.demo-app {
  background-color: #f0f2f5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-nav {
  /* border: solid 2px red; */
  display: none;
}
.head-nav {
  /* border: solid 2px blue; */
  /* grid-area: head-nav; */
  /* display: flex; */
}
.main-content {
  /* grid-area: main-content; */
  /* border: solid 2px red; */
  margin-top: 3rem;
  /* margin-right: 1rem; */
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 415px) {
  .demo-app {
    background-color: #f0f2f5;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "side-nav head-nav"
      "side-nav main-content";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
  }
  .side-nav {
    grid-area: side-nav;
    padding: 0.75rem;
    display: initial;
  }
  .head-nav {
    grid-area: head-nav;
  }
  .main-content {
    grid-area: main-content;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
