.forgot-password {
  text-align: center;
  background-image: var(--black);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}
.span {
  height: 5rem;
  visibility: hidden;
}
.forgot-password-form {
  width: 20rem;
  height: 35rem;
  /* border: solid 2px #FF1D19; */
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5%;
}
#logo {
  width: 3.5rem;
  height: 3.5rem;
}
.prompt,
.option {
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
  /* text-decoration: none; */
  color: #e22e6d;
}
